.crust-available-apps
{
	margin:20vh auto 0 auto;
	//width:calc(60vw + 40px);
	max-width:640px;
}  

.new-app-closer
{
	position:absolute;
	top:3rem;
	right:3rem;
	font-size:3rem;
	color:white;
}

.crust-available-app
{
	width:20vw;
	max-width:200px;
	display:block;
	float:left;
	margin:0 20px 20px 0; 
	border-radius:5px;
	&:nth-child(3n)
	{
		clear:right;
		margin-right:0;
	}
	&:nth-child(3n+1)
	{
		clear:left;
	}
}
