.checkbox {
	margin: 0 0 1em;
	position: relative;
}

.form-check
{
  position:relative;
  label
  {
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
  }
}

.form-check, .form-toggle
{
  .radio,
  .checkbox,
  .form-check-input {
    margin: 0 0 1em;
    position: relative;
  }

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked,
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    opacity: 0;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label,
  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    padding-left: 30px;
    cursor: pointer;
    padding-top: 2px;
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    //padding-top: 0px;
  }

  [type="checkbox"]:not(:checked) + label::before,
  [type="checkbox"]:checked + label::before,
  [type="radio"]:not(:checked) + label::before,
  [type="radio"]:checked + label::before {
  content: "";
  position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: $white;
    border: 1px $gris-bleu solid;
    border-radius: 3px;
  }

  [type="radio"]:not(:checked) + label::before,
  [type="radio"]:checked + label::before {
    border-radius: 50%;
    top: 1px;
  }

  [type="checkbox"]:not(:checked) + label::after,
  [type="checkbox"]:checked + label::after {
  content: "";
    position: absolute;
    transform: rotate(45deg) scale(1);
    opacity: 0;
    top: 3px;
    left: 8px;
    width: 5px;
    height: 11px;
    border-right: 2px solid $white;
    border-bottom: 2px solid $white;
  }

  [type="radio"]:not(:checked) + label::after,
  [type="radio"]:checked + label::after {
  content: "";
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $white;
    opacity: 0;
  }

  [type="checkbox"]:disabled:checked + label::before,
  [type="checkbox"]:disabled + label::before,
  [type="checkbox"]:disabled:checked + label::after,
  [type="checkbox"]:disabled + label::after,
  [type="radio"]:disabled:checked + label::before,
  [type="radio"]:disabled + label::before,
  [type="radio"]:disabled:checked + label::after,
  [type="radio"]:disabled + label::after {
    opacity: 0.5;
  }

  [type="checkbox"]:disabled:checked + label::before,
  [type="checkbox"]:disabled:checked + label::before  {
    background-color: $bleu;
  }

  [type="checkbox"]:checked:focus + label::before,
  [type="checkbox"]:not(:checked):focus + label::before,
  [type="radio"]:checked:focus + label::before,
  [type="radio"]:not(:checked):focus + label::before {
    border: 1px dotted $bleu;
  }

  [type="checkbox"]:checked + label::before,
  [type="radio"]:checked + label::before {
    background-color: $bleu;
    border-color: $bleu;
  }

  [type="checkbox"]:checked + label::after,
  [type="radio"]:checked + label::after {
    opacity: 1;
  }
}

$form-toggle-height:20px;
.form-toggle {
  position: relative;
  margin-bottom: 15px;

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label,
  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    padding-left: $form-toggle-height*2 +10px;
    padding-top: 3px;
    display: inline-block;
  }

  [type="checkbox"]:not(:checked) + label::before,
  [type="checkbox"]:checked + label::before,
  [type="radio"]:not(:checked) + label::before,
  [type="radio"]:checked + label::before {
        right: 0;
        bottom: 0;
        background-color: #ced4da;
        border: 0 none;
        transition: .4s;
        border-radius: $form-toggle-height*2;
        height: $form-toggle-height;
        width: $form-toggle-height*2;
  }

  [type="checkbox"]:not(:checked) + label::after,
  [type="checkbox"]:checked + label::after,
  [type="radio"]:not(:checked) + label::after,
  [type="radio"]:checked + label::after {
        height: $form-toggle-height + 2px;
        width: $form-toggle-height + 2px;
        left: -1px;
        bottom: 0;
        background-color: $white;
        transition: .4s;
        border-radius: 50%;
        opacity: 1;
        top: -2px;
        box-shadow: 0 0 $form-toggle-height rgba(40, 47, 60, 0.05), 0 $form-toggle-height/2 $form-toggle-height/2 rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
  }

  [type="checkbox"]:checked + label::before,
  [type="checkbox"]:checked + label::before  {
    background-color: $bleu;
  }

  [type="checkbox"]:checked + label::after,
  [type="checkbox"]:checked + label::after  {
    transform: translateX($form-toggle-height);
  }
}

.big-form
{
  .form-check
  {
    [type="radio"]:not(:checked) + label::after,
    [type="radio"]:checked + label::after {
      width: 10px;
      height: 10px;
      transform: translate(-40%,-40%);
    }
  }
}