label,
.label-input
{
  &.label-block
  {
    padding-top:0.5em;
    display:block;
    width:100%;
    color:$appgrey;
    text-transform: uppercase;
    padding-bottom:0;
    margin-bottom:0;
  }
}

.big-form
{
  label,
  .label-input
  {
    font-size:16px;
  }
}
