.header
{
  font-size:10px;
  min-height:50px;
  background-color: $white;
  border-bottom: 1px solid $light;
  padding:0 10px;
  position: relative;
  white-space: nowrap;

  .title,
  .subtitle {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .title {
    font-size:15px;
    font-family: $semibold;
    padding-top: 10px;
  }

  .subtitle {
    font-size: 11px;
  }
}

@media (min-width: $wideminwidth)
{
  .header
  {
    padding-right: 10px;
    height:50px;
  }
}
