/*
badge structure :
<tag1 class="badge"></tag1>
*/

@import './_0.declare';

.badge
{
  font-size:12px;
  line-height:1;
  display:inline-block;
  border: solid 1px $appgrey;
  color: $appgrey;
  padding:0.25em 1em;
  border-radius:1.5em;
  text-decoration: none;
  margin:0 0.5em;
  transition: color 0.2s, background-color 0.2s;
  [class^="icon-"],
  [class*=" icon-"],
  a
  {
    text-decoration: none;
    color: $appgrey;
  }
  [class^="icon-"],
  [class*=" icon-"]
  {
    display:inline-block;
    margin-right:3px;
    margin-top:0.2em;
  }
}

.badge
{
  .float-right
  {
    line-height:1.5em;
    margin-top:0.1em;
  }
}

.badge-tall
{
  padding : 0.5em;
  border-radius:2em;
  [class^="icon-"],[class*=" icon-"]
  {
    font-size:1.25em;
  }
  .float-right
  {
    line-height:1.35em;
  }
}

.badge-block
{
  display:block;
  margin:0;
  .badge-txt
  {
    max-width:calc(100% - 3.5em);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.badge-w75
{
  width:75%;
}

.badge-w50
{
  width:50%;
}

.badge-dark
{
  background-color: $appgrey;
  color:white;
  [class^="icon-"], [class*=" icon-"], a
  {
    color:white;
  }
}

.badge-blue
{
  background-color:$appblue;
  border-color:$appblue;
  color:$appwhite;
}