/*
button structure :
<tag1 class="btn"><tag2 class="btn-txt">button content</tag2></tag1>
<tag1 class="btn"><tag2 class="btn-txt">button content</tag2></tag1>
<tag1 class="btn"><i class="btn-i icon-icontag"></i><tag2 class="btn-txt">button content</tag2></tag1>
*/
:focus{
  outline: none;
}
.btn
{
  display:inline-block;
  align-items: flex-start;
  text-align: center;
  border: solid 1px $secondary;
  color: $secondary;
  padding:0.25em 1em;
  border-radius:1.5em;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
  background-color:transparent;
  margin:0 0.5em;
  font-family: $regular;
  cursor:pointer;

  &:first-child
  {
    margin-left:0;
  }
  &:last-child
  {
    margin-right:0;
  }

  &:hover
  {
    color: $white;
    background-color: $secondary;
    .btn-txt, .btn-i
    {
      color: $white;
    }
  }

  .btn-i
  {
    font-size:1.25em;
    text-align: center;
    margin-right:0.25em;
    margin-left:-0.5em; // put icon more into the circle
    text-decoration: none;
  }
}
.btn-i, .btn-txt
{
  background-color: transparent;
  color: $secondary;
  display:inline-block;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.btn-block
{
  display:block;
  margin:0;
  .btn-txt
  {
    max-width:calc(100% - 3.5em);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.btn-w75
{
  width:75%;
}
.btn-w50
{
  width:50%;
}

.btn-dark
{
  background-color: $secondary;
  color:white;
	.btn-txt, .btn-i
	{
    color:white;
	}
  &:hover
  {
    color: $secondary;
    background-color:white;
    .btn-txt, .btn-i
    {
      color: $secondary;
    }
  }
}

.btn-success, .btn-green
{
  background-color: $success;
  border-color: $success;
  color:white;
	.btn-txt, .btn-i
	{
    color:white;
	}
  &:hover
  {
    color: $success;
    background-color:white;
    .btn-txt, .btn-i
    {
      color: $success;
    }
  }
}

.btn-danger, .btn-red
{
  background-color: $danger;
  border-color: $danger;
  color:white;
	.btn-txt, .btn-i
	{
    color:white;
	}
  &:hover
  {
    color: $danger;
    background-color:white;
    .btn-txt, .btn-i
    {
      color: $danger;
    }
  }
}

.btn-info, .btn-blue
{
  background-color: $appblue;
  border-color: $appblue;
  color:white;
	.btn-txt, .btn-i
	{
    color:white;
	}
  &:hover
  {
    color: $appblue;
    background-color:white;
    .btn-txt, .btn-i
    {
      color:$appblue;
    }
  }
}

.btn-disabled {
  cursor: default;

  &:hover {
    color: $secondary;
    background-color:transparent;
  }
}
