@import './_0.declare';

.channel-name {
  &:before {
    content:"#";
    display:inline-block;
    margin-right:0.5em;
    font-weight:400;
    width: 8px;
  }
  &.blue {
    &:before {
      color:$appblue;
    }
  }
  &.green {
    &:before {
      color:$appgreen;
    }
  }
  &.red {
    &:before {
      color:$appred;
    }
  }
  &.yellow {
    &:before {
      color:$appyellow;
    }
  }
}

.private {
  .channel-name {
    &:before {
      content: "\e98f";
      font-family: '#{$icomoon-font-family}';
    }
  }
  .ignored {
    &:before {
      content: "";
    }
  }
}
