@import "_0.declare";

.dz-message{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.dz-details{
	display: none;
}

.dropzone{
	.dz-preview{
		.dz-progress{
			display: block;
			border-radius: 0;
			height: 5px;
			.dz-upload{
				animation: unset;
				transition: unset;
				background-color: $bleu;
			}
		}
		&:not(.dz-processing) {
			.dz-progress {
				animation: unset;
			}
		}
	}
}

.dz-image{
	img{
		margin: 0 auto;
	}
}
.dropzone .dz-started{
	opacity: 1;
}
.vue-dropzone .dz-preview .dz-remove{
	color: black;
	opacity: 1;
	border: none;
	width: 100%;
	margin-bottom: -40px;
}