@import "variables";

.dz-message {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.dz-details {
	display: none;
}

.dropzone {
	.dz-preview {
		.dz-progress {
			display: block;
			border-radius: 0;
			height: 5px;
			.dz-upload{
				animation: unset;
				transition: unset;
				background-color: $primary;
			}
		}
		&:not(.dz-processing) {
			.dz-progress {
				animation: unset;
			}
		}
	}
}

.dz-image {
	img {
		margin: 0 auto;
	}
}
.dropzone .dz-started {
	opacity: 1;
}
.vue-dropzone .dz-preview .dz-remove {
	color: black;
	opacity: 1;
	border: none;
	width: 100%;
	margin-bottom: -40px;
}

.rightside-panel-container {
	.droparea {
		width: 400px;
    height: calc(100vh - 60px);
    margin-top: -5px;
	}
}

.channel {
    .droparea {
    	width: 100%;
      height: 100vh;
    }
}
