@import './_0.declare';

input,
input[type=text],
{
  outline:none;
  padding:0.25em;
  margin:-0.2e 0.1em;
  border:solid 1px $defaultlinecolor;
  &:focus
  {
    background-color:rgba($defaulttextcolor,0.1);
    color:$defaulttextcolor;
  }
}

input[type=text].no-border
{
  border:none;
}
