.closer {
  font-size:20px;
}
.menu-layer
{
  font-size:14px;
  position:fixed;
  top:0;
  left:0;
  width:90vw;
  margin-left:-100%;
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
  transition:margin 0.5s ease-in;
  background-color: $white;
  z-index:50;

  &.shadowed
  {
    box-shadow: 0.2rem 0 0.2rem 0 rgba($dark, 0.1);
  }

  &.noborder
  {
    border:none;
  }

  &.left
  {
    border-right: solid 1px $secondary;
  }

  .closer
  {
    float:right;
  }

  ul
  {
    list-style:none;
    padding:0;
    margin:0;
    width: 100%;
  }
  .badge, .btn
  {
    font-size:12px;
  }
}

.menu-layer-inner{
  .closer{
    padding-top: 10px;
  }
}

.layer-section-title
{
  font-size:14px;
  font-weight:600;
  color: $dark;
  padding:0 5px;
  margin-top: 10px;
  a
  {
    color: $dark;
    text-decoration:none;
    cursor: pointer;
  }
  .icon
  {
    display:inline-block;
    color:rgba($dark, 0.75);
    font-size:18px;
    line-height: 14px;
    vertical-align: sub;
  }
  .icon-left
  {
    margin-left:-0.5em;
    margin-right:0.5em;
  }
}

.layer-item-wrap
{
  position: relative;
}

.layer-item
{
  display:block;
  max-width: 100%;
  padding:0.35em 0px 0px 15px;
  line-height:30px;
}

.layer-item.layer-selectable
{
  max-width: 100%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  padding-bottom: 0.35em;
}

.layer-selectable
{
  border-right:solid 3px transparent;
  color: $dark;
  a
  {
    color: $secondary;
  }
  &.current
  {
    background-color:rgba($appblue,0.15);
    border-color:$appblue;
    color:$appblue;
    a
    {
      color:$appblue;
    }
  }
}

.menu-layer.display,
.menu-layer.force-on,
.menu-layer.open
{
  background-color: $white;
  max-width:250px;
  min-width:190px;
  margin-left:0;
  .menu-layer-section-wrapper
  {
    margin:0;
    padding:20px 0;
    color: $secondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    a
    {
      color: $secondary;
      text-decoration:none;
    }
  }
}

.message-n-meta {
  &.last {
    overflow: visible;
    .context-menu {
      margin-top: -43px;
    }
  }
}

@media (max-width: $wideminwidth - 1)
{
  .menu-layer.mobile-modal
  {
    width: 100vw;
    max-width: 100vw;
    background-color: rgba(0,0,0,0.25);
    transition:none;
    .menu-layer-inner
    {
      width:90vw;
      //margin-left:-100%;
      max-width:250px;
      bottom:0;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: $white;
      min-height:100vh;
    }
    &.open
    {
      .menu-layer-inner
      {
        max-width:250px;
        min-width:190px;
        margin-left:0;
      }
    }
  }
}

@media (min-width: $wideminwidth)
{
  .always-deployed-on-desktop
  {
    max-width:250px;
    min-width:190px;
    width:90vw;
    margin-left:0;
    .closer
    {
      visibility:hidden;
    }
  }
}


@media (min-width: $confortableminwidth)
{
  .menu-layer
  {
    max-width:400px;
  }
  .always-deployed-on-desktop
  {
    max-width:250px;
    min-width:190px;
    width:90vw;
    margin-left:0;
    .closer
    {
      visibility:hidden;
    }
  }
}
