@import './_0.declare';
@import './closer';

.menu-layer
{
  font-size:14px;
  position:fixed;
  top:0;
  left:0;
  width:90vw;
  margin-left:-100%;
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
  transition:margin 0.5s ease-in;
  background-color:$menupanebgcolor;
  z-index:50;

  &.shadowed
  {
    box-shadow: 0.2rem 0 0.2rem 0 rgba($defaulttextcolor, 0.1);
  }
  &.right
  {
    margin-left:0;
    margin-right:-100%;
    border-left: solid 1px $defaultlinecolor;
  }
  &.left
  {
    border-right: solid 1px $defaultlinecolor;
  }
  .closer
  {
    float:right;
    padding-top:10px;
  }
  ul
  {
    list-style:none;
    padding:0;
    margin:0;
  }
  .badge, .btn
  {
    font-size:12px;
  }
}

.layer-section-title
{
  font-size:14px;
  font-weight:600;
  color:$defaulttextcolor;
  padding:0 5px;
  a
  {
    color:$defaulttextcolor;
  }
}

.layer-item
{
  display:block;
  max-width: 100%;
  padding:0.5em 10%;
}

.layer-item.layer-selectable
{
  max-width: 100%;
  text-overflow: ellipsis;
  overflow:hidden;
  padding:0.5em 10%;
  white-space: nowrap;
}

.layer-selectable
{
  border-right:solid 3px transparent;
  &.current
  {
    background-color:rgba($appblue,0.15);
    border-color:$appblue;
    a
    {
      color:$appblue;
      font-weight:bold;
    }
  }
}

.menu-layer.display,
.menu-layer.force-on,
.menu-layer.open
{
  background-color:$menupanebgcolor;
  max-width:320px;
  min-width:190px;
  margin-left:0;
  .menu-layer-section-wrapper
  {
    margin:0;
    padding:20px 0;
    color: $appgrey;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    a
    {
      color:$appgrey;
      text-decoration:none;
    }
  }
}

.menu-layer.right.display,
.menu-layer.right.force-on,
.menu-layer.right.open
{
  margin-right:0;
  .menu-layer-section-wrapper
  {
    margin:0;
  }
}

@media (min-width: $wideminwidth)
{
  .menu-layer
  {
    padding:60px 0;
  }
  .always-deployed-on-desktop
  {
    max-width:320px;
    min-width:190px;
    width:90vw;
    margin-left:0;
    .closer
    {
      visibility:hidden;
    }
  }
}
